:root {
  --main-bg-color: #f8f8f8;
  --main-color: #cf102e;
  --body-text-color: #000000;
  --secondary-text-color: #ffffff;
  --secondary-bg-color: #000050;
  --substitute-color: #5A5B5D;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}

footer {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}


button {
  background-color: var(--main-color);
  color: var(--secondary-text-color);
}

button:focus {
  color: yellow;
  outline-color: var(--secondary-bg-color);
  text-transform: uppercase;
}

li {
  list-style: none;
  color: var(--main-bg-color);
  margin-right: 1em;
}

a {
  text-decoration: none;
}


h1 {
  margin-left: 2%;
}

h2 {
  padding-bottom: 7px;
  padding-top: 7px;
}

/*----  Nav Basics -----*/

nav {
  padding: 0 15px;
}

a {
  color: white;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {

  /* divider between buttons and menu links */

  border-bottom: 1px #444 solid;
}

/* Dropdown Menu */

.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu>a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */

@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  /* Button up from tablet screen */

  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .button a {
    background: #be2b30;
    border: 1px royalblue solid;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}

/* Desktop menu */

@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }
}
/*-- End Of Nav Styles */

.intro {
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.donor-form {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

.line {
  width: 35px;
  justify-self: end;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donate-values {
  margin-top: 10px;
  border-bottom: 2px solid gray;
  justify-self: end;
  padding-top: 10px;
  margin-top: 10px;
}
.donate-values-btn {
  font-size: 17px;
}

#custom {
  padding: 5px;
  border-radius: 5px;
}

.responsive {
  height: auto;
  width: 100%;
}

#donor-form {
  width: 100%;
}

#fname,
#lname,
#pnumber,
#email,
#nameOncard,
#cardNumber,
#expirationDate {
  border-radius: 5px;
  padding-right: 10px;
  width: 80%;
  font-size: 1.2em;
}

input[type='checkbox'] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

input {
  margin-bottom: 10px;
}

.newsletter label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#newsletter {
  display: flex-end;
  display: inline-block;
}

.share {
  width: 100%;
}

.fb-btn,
.twitter-btn,
.ig-btn,
.email-btn,
.text-btn {
  margin-bottom: 10px;
  padding: 7px;
  font-size: 15px;
}