:root {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  color: light-grey;

}

nav {
  background-color: blue;
  color: lightgrey;
  font-size: 2rem;
}

li {
  list-style: none;
}

#logo {
  font-size: 5rem;
  color: red;
}

/* TODOS
Pick A Font ( Sans Serif )
Use Flex on Nav area
Pick a friendlier blue
*/