:root {
    --main-bg-color: #f8f8f8;
    --main-color: #cf102e;
    --body-text-color: #000000;
    --secondary-text-color: #ffffff;
    --secondary-bg-color: #000050;
    --substitute-color: #5A5B5D;
    font-size: 16px;
  }

  .social-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .social-icons {
    display: flex;
    list-style-type: none;
    margin: 0 0 10px 0; 
  }

  .call-to-action-navbar {
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
  }

  .call-to-action-nav-btns {
    display:flex;
    list-style-type: none;
  }

  .main-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .main-navbar-btns {
      display: flex;
      list-style-type: none;
      align-content: space-around;
  }